@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');



.TransactionPage {
     width: 100vw;
     height: 100vh;
     padding-left: 4rem;
     padding-right: 4rem;
     padding-top: 2.2rem;
}

.TransactionPage__title {
     font-family: 'Kanit', sans-serif;
     color :  #ff751a;
     text-align: left;
     
}

.TransactionPage__home {
     position: absolute;
     top: 2rem;
     right: 4rem;
}

hr {
     box-shadow: 1px 1px 2px gray;
}

